# Specify Java and Python files
*.java linguist-language=Java
*.py linguist-language=Python

# Specify other specific file types
*.html linguist-language=HTML
*.css linguist-language=CSS

# Default to Java for all other file types
* -linguist-language